<h2>Main</h2>
<p>Filter: {{input value=filterTerm}}</p>
<p>
  Order:
  <button {{action 'toggleOrder' 'occupationOrder'}}> occupation {{occupationOrder}}  </button>
  <button {{action 'toggleOrder' 'nameOrder'}}> name  {{nameOrder}}  </button>
</p>
<ul>
  {{fsg-list

    list        = list
    itemPartial = itemPartial

    filterTerm  = filterTerm
    filterBy    = filterKeys

    sortBy      = sortKeys

    groupBy     = groupFn
  }}
</ul>
