<li class="item">
  {{#if item._isTitle}}
    <span class="title">{{item._title}}</span>
  {{else}}
    <div {{action '_selectItem' item}}>
      <span class="id">{{item.id}}</span>
      <span class="name">{{item.name}}</span>
      <span class="occupation">{{item.occupation}}</span>
    </div>
  {{/if}}
</li>
